


/*Dit is om alle elementen hetzeelfde eruit te laten zien in alle browsers */

*{
	padding: 0;
	margin: 0;
}

/* Dit is de font van een show. Hier kon ik geen plaatje voor vinden, dus heb ik het zo gedaan */

@font-face {
  font-family: The Greatest Font;
  src: url(thegreatestfont.otf);
}

body{
	font-family: Avenir, Matterhorn, InspireTWDC, Helvetica, sans-serif;
}

/* Dit is het logo in de navigatiebar */

img#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

}

/* Hier heb ik de menu op de plek gezet waar ik het wilde hebben. */
  .menu{
  top: 25px;
  left: 18px;

  
}

/* Hiermee heb ik de navigatiebar gestyled. */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
   
}



.nav-list a{
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
}



  .nav-list{
    position: absolute;
    right: 0px;
    height: 35vh;
    top: 8vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;

    /* Onderstaande twee regels zorgen ervoor dat de twee lijnen van de hamburgermenu naar een X draait */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}


.nav-list li{
    color: black;
    padding: 1em;
    border: solid 0.2px #eee;
    list-style: none;
}

.menu{
    display: block;
    position: absolute;
}

/* Dit zijn de twee lijnen van de hamburgermenu */
.menu div{
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px;
  transition: all 0.1s ease;

}


/* CONTENT HOMEPAGINA */


/* Dit is de eerste section van de homepagina */

section.actie{
  background-color: black;
  padding-bottom: 4em;
  text-align: center;
  color: white;
}

img#imgactie{
  width: 100%;
}




h2{
  font-weight: 200;
  font-size: 28px;
  padding: 1em 1em 0em 1em;
}

#introp{
  padding: 0.5em;
  font-weight: 100;
}


button#shop-btn{
  padding: 1em 5em 1em 5em;
  background: linear-gradient(90deg, #c19713, #efe0b1);
  border-radius: 25px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0.5em;
}

#shop-btn:hover{
  background: none;
  border: 2px solid #c19713;
  transition: 0.3s ease-in;
}


a#shop{
  font-weight: 500;
  text-decoration: none;
  color: black;
}

a#shop:hover{
  color: white;
  transition: 0.3s ease-in;
}

#introp-2{
  font-size: 11px;
  font-weight: 100;
  margin-top: 1.5em;

}

/* Dit is voor het overgrote gedeelte van de content */
.main-content{
  background-color: #061435;
  margin-top: 0.5em;
  

}



.content-li{
  background-color: #0E174D;
   margin: 1em;
   text-decoration: none;
   list-style-type: none;
   color: white;
}

.content-li2, .content-li3{
  background-color: #122D62;
  margin: 1em;
   text-decoration: none;
   list-style-type: none;
   color: white;
}


/* Dit is als de gebruiker over elk list item hovert */

.content-li:hover{
  transform: scale(0.9);
  transition: 0.3s;
  margin-top: 1em;
}

.content-li2:hover{
  transform: scale(0.9);
  transition: 0.3s;
  margin-top: 1em;
}

.content-li3:hover{
  transform: scale(0.9);
  transition: 0.3s;
  margin-top: 1em;
}


img#imgtwee{
  display: block;
  margin-left: auto;
  margin-right: auto;
	width: 50%; 
}

img.imgshow{
  width: 100%;
  margin: 0;
  background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}



h3#show1{
  font-family: The Greatest Font;
  font-size: 35px;
  padding: 0.5em 2em 0.5em 2em;
  transform: rotate(-5deg);
  margin-top: 0.5em;
  text-align: center;

}

button#stream{
  background-color: #0066cc;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  padding: 1em 5em 1em 5em;
  border-radius: 25px;
  border: none;
  margin: 1em 4em 3em 6em;

}

a#stream{
  text-decoration: none;
  color: white;
  font-weight: 400;
}


h3.titleshow{
  font-size: 20px;
  font-weight: 300;
  padding: 1em 1em 0em 1em;
}

p.p-show{
 font-size: 13px;
  font-weight: 200;
  padding: 1em 2em 0em 0.6em;
}

p.stream-show{
  text-align: left;
 font-size: 12px;
  font-weight: 700;
  padding: 1em 1em 3em 0.7em;
  text-transform: uppercase;

}

button#abonneer-btn{
  padding: 1em 5em 1em 5em;
  border-radius: 25px;
  border: none;
  margin: 4em 4em 1em 9em;
  background-color: white;
}

a#abonneer-btn{
  text-decoration: none;
  color: #0E174D;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

p#prijs{
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  padding: 0em 2em 4em 2em;
}


/* Dit is de derde section */

section.films{
  background-color: #eee;
}

h2#film{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

/* Hier heb ik er een horzontale scrollbar van gemaakt */

ul.filmlist{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  overflow-x: auto;

}

li.film-list{
  list-style-type: none;
  padding: 0em 0.5em 0em 0.5em;
  min-width: 50%;
  min-height: 100px;

}


li.film-list:hover{
  transform: scale(0.8);
  transition: 0.3s;
  margin-top: 1em;
}

img.film-show{
  border-radius: 3px;
  width: 100%;
  margin: 5px;

}


h3.filmshow-title{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 4em;
  padding-left: 0.5em;

}

a#bw{
  text-decoration: none;
  color: black;
}


/* Onderstaande code is voor de footer van beide pagina's */

footer{
  text-align: center;
}

a.footerlinks{
  text-decoration: none;
  color: black;
  font-weight: 500;

}


li.footerlinks{
  margin: 0em 1em 1em 1em;
  list-style-type: none;
}


p#copy{
  font-size: 12px;
  margin-bottom: 3em;
  padding: 2em;
}

img#logo-footer{
  width: 35%;
  margin-top: 3em;
}



/* CONTENT BLACK WIDOW PAGINA */

/* Dit is de code voor de tweede pagina (Black Widow) */

img#headerimgbw{
  width: 100%;
}

img#bwlogo{
  width: 90%;


}

section.headerbw{
  background-color: black;
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 1.5em;
  color: white;
  background: linear-gradient(#333, #000);
}

section.headerbw p{
  font-size: 18px;

}

section.headerbw button{
  border-radius: 25px;
  background-color: white;
  color: black;
  padding: 1em 2em 1em 2em;
  margin-top: 1em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: none;
}




section.info img{
  width: 40%;
  border-radius: 5px;
  padding-left: 1em;
  margin-right: 1em;
  float: left;

}

section.info h2, p{
  margin-left: 1em;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

section.info p{
  font-size: 16px;
  margin-top: 0.5em;
}


section.info h3{
  margin-left: 0.8em;
  margin-top: 1em;
  font-weight: 500;
}

section.info h2{
  font-size: 20px;
  font-weight: 500;
}

section.trailers h2{
  font-weight: 400;
  margin-bottom: 1em;

}

/* Net als bij de films section heb ik hier ook een horizontale scrollbar van gemaakt */

ul.trailers{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-left: 0.2em;
  margin-bottom: 3em;
  overflow-x: auto;

}

ul.trailers li{
  list-style-type: none;
  padding: 0.25em;
  margin: 0.5em;
  min-height: 100px;


}
video{
  width: 300px;
  border-radius: 3px;
}





/* Onderstaande code is voor de hamrbugermenu en hoe de twee strepen daarvan moeten roteren en bewegen. Dit is ook 
gelinkt naar de Javascript code. */
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 1;
    transform: 50px;
  } to{
    opacity: 2;
    transform: 0px;
  }
}


/* Dit is voor hoe de twee lijnen van de hamburgermenu moeten roteren, zodat ze een kruisje vormen als er op geklikt wordt. */

.toggle .line1{
  transform: rotate(-45deg) translate(-4px,1.2px);
}

.toggle .line2{
  transform: rotate(45deg) translate(-4px,-1.2px);
}





@media screen and (min-width: 40em){
  .nav-list{
    height: 35vh;
    top: 9.5vh;
  }
  .menu{
    top: 33px;
    left: 25px;
  }

  h3#show1{
    text-align: center;
    margin: 1em 2em 1em 2em;
  }

  button#stream{
     margin-left: 38%;
    margin-right: 38%;
    padding: 1em 2.5em 1em 2.5em;
    font-size: 16px;
  
  }

  div.li2{
    display: flex;
    flex-direction: row;
  }

  li.content-li2, li.content-li3{
    width: 50%;
  }


  button#abonneer-btn{
    margin-left: 38%;
    margin-right: 38%;
    padding: 1em 3em 1em 3em;
  }


  li.film-list{
 
    min-width: 45%;
    min-height: 100px;

}

  img#logo-footer{
    width: 20%;
  }
}



/* dit is voor tablet */

@media only screen
and (min-width : 45em) {
  img#logo{
    display: inline-block;
    align-items: left;
    width: 13%;
    margin: 1em 0.4em 0.3em 1em;
  }

  .menu{
    display: none;
  }

  nav{
    
  }

  ul.nav-list{
    position: absolute;
  }

  li a.nav-list{
    
    position: absolute;
    top: 0px;
    left: 0px;
  
 
  }


}


/* Onderstaande code is voor desktop en laptop formaat */
@media only screen
and (min-width : 50em) {
  img#imgactie{
     max-width: 100%;
  height: auto

  }

  img#imgtwee{
    display: none;
  }

  .nav-list{
    display: none;
  }

}

/* Onderstaande code is voor large screens, dus grotere computers */



@media only screen
and (min-width : 60em) {
  img#imgactie{
     width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;

  }

  img#imgtwee{
    display: none;
  }

  img.imgshow{
    
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  }



  li.content-li{
    
  }


  li.content-li2{

    width: 50%;
  }


.content-li3{
  width: 100%;
}



}










